body{
    background-color:  slategray;
}

#container {
    width: 1000px;
    margin: auto;
    height: 550px;
    background-color: burlywood;
}

#header {
    height: 50px;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}


#mynetwork {
    height: 500px; 
    width: 100%;
  }
  